.contaiber
  .row
    .col-lg-offset-3.col-lg-6
      = render 'shared/user_profile_header'

      %h2 Смена пароля

      %form{:action => "", }
        .attr-container{ 'ng-if' => '!user.has_password' }
          У вас не установлен пароль, скорее всего вы вошли через социальную сеть "Вконтакте".
          Если хотите иметь стандартный доступ к сайту, придумайте пароль.

        .attr-container{'ng-class' =>'{"has-error" : has_error("current_password")}', 'ng-if' => 'user.has_password'}
          %span.attr-label Текущий пароль
          %input.form-control{:type => "password", 'ng-model' => 'user.current_password'}/
          %div.errors{'ng-if' => 'has_error("current_password")'}
            %p.help-block{'ng-repeat' => 'error in update_errors.current_password'}
              {{ error }}


        .attr-container{'ng-class' =>'{"has-error" : has_error("password")}'}
          %span.attr-label Новый пароль
          %input.form-control{:type => "password", 'ng-model' => 'user.password'}/
          %div.errors{'ng-if' => 'has_error("password")'}
            %p.help-block{'ng-repeat' => 'error in update_errors.password'}
              {{ error }}

        .attr-container{'ng-class' =>'{"has-error" : has_error("password_confirmation")}'}
          %span.attr-label Повторите новый пароль
          %input.form-control{:type => "password", 'ng-model' => 'user.password_confirmation'}/
          %div.errors{'ng-if' => 'has_error("password_confirmation")'}
            %p.help-block{'ng-repeat' => 'error in update_errors.password_confirmation'}
              {{ error }}

        .well
          %button.btn.btn-success{'ng-click' => 'change_password()', 'ng-if' => 'user.has_password'} Сохранить изменения
          %button.btn.btn-success{'ng-click' => 'create_password()', 'ng-if' => '!user.has_password'} Создать пароль
