.contaiber
  .row
    .col-lg-offset-3.col-lg-6
      = render 'shared/user_profile_header'
      %h2 Профиль пользователя {{ current_user.name }}

      .attr-container
        %span.attr-label Имя
        {{ current_user.name }}

      .attr-container
        %span.attr-label e-mail
        %span.notification-label{'ng-if' => '!current_user.email_confirmed', 'ng-mouseover' => 'mouseover($event)' ,'ng-mouseleave' => 'mouseleave($event)', 'ng-click' => 'send_confirmation_email()'} не подтвержден
        {{ current_user.email }}

