.contaiber
  .row
    .col-lg-offset-3.col-lg-6
      %h2 Вход

      %form.form-horizontal{:action => ""}

        %div.form-group
          %label.col-lg-2.control-label{:for => "user_email"} Email:
          .col-lg-8
            %input#user_email.form-control{:type => "text", 'ng-model' => 'user.email', :autofocus => true}

        %div.form-group
          %label.col-lg-2.control-label{:for => "user_password"} Пароль:
          .col-lg-8
            %input#user_password.form-control{:type => "password", 'ng-model' => 'user.password'}

        %div.form-group
          .col-lg-offset-2.col-lg-8
            %button.btn.btn-default{'ng-click' => 'login()'} Войти
            %a.btn.btn-info{:href => Vkontakte.auth_url} Войти Вконтакте
