<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать на проект "Календарь", <%= @user.name %></h1>
    <p>
      Вы успешно зарегистрировались! <br>
      Не забудьте подтвердить свой e-mail, чтобы получать уведомления а предстоящих событиях.
    </p>
    <p>
      С уважением, администрация сайта <a href="<%= @url %>">Календарь</a>
    </p>
  </body>
</html>
